@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Kendo Example.</p>
    <p><a href="https://github.com/MiguelCosta/kendo-example" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="form-group">
        <label class="control-label col-md-2" for="SiteId">Site</label>
        <div class="col-md-10">
            <input id="site" />
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#site").kendoComboBox({
                dataTextField: "SiteName",
                dataValueField: "Id",
                dataSource: {
                    transport: {
                        read: {
                            url: "/locations/Sitesdropdowntest",
                            dataType: "json"
                        }
                    }
                }
            });
        });
</script>
}